<template name="art">
    <div id="container">
    
    <header>
            <h1>Art Experiments</h1>
            <ul>
            	<li><a href="/" class="navbutton">Home</a></li>
            	<li><a href="/bmi" class="navbutton bmi">BMI Calculator</a></li>
            	<li><a href="/art" class="navbutton art currentpage_nav">Art Experiments</a></li>
            </ul>
            <div class="dropdown_container">
                <div class="dropdown" style="padding: 10px 20px 10px 20px; margin: 6px auto; cursor: pointer; background: #EAEDED; width: 160px;">
                    Dropdown
                    <div class="dropdown-content">
                      <a href="/">Home</a>
                      <a href="/bmi">BMI Calculator</a>
                      <a href="/art">Art Experiments</a>
                    </div>
                </div> 
            </div>
        </header>
    
    <div id="mid">
        
    <div style="font-size: 18px; padding: 0px 10px 10px 10px;">Bubbles Blown Away</div>
    <img src="images/image_grass_and_sky.gif" style="max-width: 95%;">
    
    <div style="font-size: 18px; padding: 50px 10px 10px 10px;">Frozen Ferrum, mock logo design</div>
    <img src="images/image_ff_logo_2.2.bmp" width="500px" style="max-width: 95%;">
    
    <div style="font-size: 18px; padding: 50px 10px 10px 10px;">Imagination Made Real</div>
    <img src="images/image_artwork_with_blur.jpg" width="500px" style="max-width: 95%;">
    
    <div style="font-size: 18px; padding: 50px 10px 10px 10px;">Make</div>
    <img src="images/image_make.jpg" style="max-width: 95%;">
    
    <div style="font-size: 18px; padding: 50px 10px 10px 10px;">Believe</div>
    <img src="images/image_believe.jpg" style="max-width: 95%;">
    
    <div style="font-size: 18px; padding: 50px 10px 10px 10px;">All In</div>
    <img src="images/image_all_in.png" style="max-width: 95%;">
    </div>
        
        <div id="bottom" class="border"></div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</template>