<template name="home">
    <div id="container">
        <header>
                <h1>Home</h1>
                <ul>
                    <li><a href="/" class="navbutton currentpage_nav">Home</a></li>
                    <li><a href="/bmi" class="navbutton bmi">BMI Calculator</a></li>
                    <li><a href="/art" class="navbutton art">Art Experiments</a></li>
                </ul>
                <div class="dropdown_container">
                    <div class="dropdown">
                        Dropdown
                        <div class="dropdown-content">
                          <a href="/">Home</a>
                          <a href="/bmi">BMI Calculator</a>
                          <a href="/art">Art Experiments</a>
                        </div>
                    </div> 
                </div>
            </header>

        <div id="mid">
            Welcome to my site. Feel free to look around.<br><br><img src="/images/image_welcome.jpg" style="max-width: 95%;">

            <h1>Enter your comments below!</h1>
                {{> postForm}}
                {{> postsList}}
            <ul>
                {{#each posts}}
                <li>{{content}}</li>
                {{/each}}
            </ul>
        </div>
        <div id="bottom" class="border"></div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</template>

<template name="postForm">
  <form id="post-form">
      <div style="padding: 10px;"><textarea id="content" style="vertical-align: middle;" required></textarea><button type="submit" style="vertical-align: middle; margin: 5px;">Post</button></div>
  </form>
</template>

<template name="postsList">
  <ul class="post-list">
    {{#each posts}}
    <li class="post">
        <div style="padding: 5px;">{{content}}<a class="remove-post"><span style="background: #FFFFFF; color: #000000; float: right; cursor: pointer;">Remove</span></a></div>
    </li>
    {{/each}}
  </ul>
</template>

